.canvas {
    display: flex;
    width: 1920px;
    height: 1080px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #FFF;
}
.mother {
    display: flex;
    width: 393px;
    height: 852px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}
.arrow {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    transform: scaleX(-1);
    transform-origin: center;
}
.top-half {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}
.names {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}
.top-text {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bottom-text {
    color: #7F7F7F;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.name-section {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    width: 83px;
    height: 25px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input-field {
    display: flex;
    width: 333px;
    padding: 18px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 17px;
    border: 1.5px solid #BEBEBE;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bottom-half {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}
.footer {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.call-to-action {
    display: flex;
    padding: 14px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 17px;
    background: #E26B12;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sign-up {
    display: flex;
    padding: 18px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.account {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.log {
    color: #E26B12;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}